.chat-message,
.editor {
  .location {
    background-color: rgba(100, 100, 100, 0.5);
  }

  .creature {
    background-color: rgba(0, 0, 100, 0.7);
  }

  .read-aloud {
    background-color: rgba(0, 0, 100, 0.5);
  }

  .hazard {
    background-color: rgba(0, 0, 100, 0.3);
  }

  .impression {
    background-color: rgba(0, 0, 100, 0.3);
  }
}
